// TODO: format titles of posts and links
// TODO: format dates
// TODO: standardize distance between objects (x12px)
// TODO: look up best line height
// TODO: switch to dark background or greyer cream background

html, body {
    background: #FAF0E6;
    color: #5C3317;
    margin: 0;
}

p, div, article, section, li, h1, h2, h3, h4 {
    font-family: 'Karla', sans-serif;
    color: #5C3317;
}

a {
    color: #B13E0F;
    text-decoration: none;
}

a:hover {
    color: #CD3700;
}

section.leader h1 {
    font-size: 22px;
    margin-top: 0;
    padding-right: 12px;
    margin-bottom: 36px;
    padding-bottom: 0;
}

section.leader h1 a {
    color: #5C3317;
    text-decoration: none;
}

section.content h2 {
    font-size: 22px;
    margin-bottom: 36px;
    padding-bottom: 0;
}

p {
    font-size: 16px;
    line-height: 25px;

}

.container {
    padding: 24px;
    max-width:720px;
    margin:0 auto;
}

section.leader {
    margin: 0px 0;
    width:232;
    max-width:30%;
    background: white;
}

section.leader p {
    color: #8c705c;
    padding-right: 12px;
    font-size: 14px;
    padding-top: 0;
}

section.content {
    max-width:70%;
}

.post-meta {
    color: #8C705C;
    font-size: 14px;
    line-height: 25px;
}

div.footer {
    color: #8C705C;
    padding-bottom: 48px;
}

article {
    padding-bottom: 36px;
    border-bottom: 6px solid #EDE4DA;
    margin-bottom: 48px;
}

ul {
    list-style-type: none;
    border-top: 6px solid #EDE4DA;
    margin: 12px 0 0 0;
    padding: 12px 0 0 0;
}

ul li {
    font-size: 14px;
    color: #0C85AC;
    padding: 12px;
}

section.leader li i {
    padding-left: 12px;
}

@media screen and (max-width: 712px) {
    section.leader {
        width: 96%;
        max-width: 96%;
        margin-top: 24px;
    }
    section.leader p {
        font-size: 16px;
    }
    section.content {
        float: left;
        width: 95%;
        max-width: 95%;
        margin-top: 12px;
        text-align: left;
        border-top: 6px solid #EDE4DA;
        padding-top: 24px;
    }
}

@media screen and (min-width: 712px) {
    .container {
        padding-top: 144px;
    }
    section.leader {
        float: left;
        width: 210px;
        max-width: 33%;
        text-align: right;
    }
    section.content {
        float: right;
        width: auto;
        max-width: 55%;
        padding-right: 24px;
    }
}
